
@{
    ViewBag.Title = "Role Assign";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("RoleAssign", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("UserId", (string)ViewBag.UserId)

    <div class="form-group">
        @Html.Label("Role", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AllRoles", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Assign</button>
}


